{% extends "../layouts/default.twig" %}

{% block css %}
<link rel='stylesheet' href="/css/blog.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="no-header-image"></div>
<section class="fw-main-row sidebar-right" role="main" itemprop="mainEntity" itemscope="itemscope" itemtype="http://schema.org/Blog">
		<div class="fw-container">
				<div class="fw-row">
						{% if data.searchTerm is defined %}
						<div class="fw-content-area col-md-8 col-sm-12">
								<div class="fw-col-inner text-center">
									<h3 style="margin-top: 0px;margin-bottom: 2rem;position: relative;top: -40px;">Showing page <strong>{{data.posts.currentPage}}</strong> of <strong>{{data.posts.totalPages}}</strong> for search term <strong>"{{data.searchTerm|striptags}}"</strong>.</h3>
								</div>
						</div>
						{% endif %}
						{% if data.selectedTag is defined %}
						<div class="fw-content-area col-md-8 col-sm-12">
								<div class="fw-col-inner text-center">
									<h3 style="margin-top: 0px;margin-bottom: 2rem;position: relative;top: -40px;">Showing page <strong>{{data.posts.currentPage}}</strong> of <strong>{{data.posts.totalPages}}</strong> for tag <strong>{{data.selectedTag|striptags}}</strong>.</h3>
								</div>
						</div>
						{% endif %}
						{% if data.archiveSelected is defined %}
						<div class="fw-content-area col-md-8 col-sm-12">
								<div class="fw-col-inner text-center">
									<h3 style="margin-top: 0px;margin-bottom: 2rem;position: relative;top: -40px;">Showing page <strong>{{data.posts.currentPage}}</strong> of <strong>{{data.posts.totalPages}}</strong> for month of <strong>{{data.archiveSelected|striptags}}</strong>.</h3>
								</div>
						</div>
						{% endif %}
						<div class="fw-content-area col-md-8 col-sm-12">
								<div class="fw-col-inner">
										<div class="postlist ">
											{% for post in data.posts.results %}
												{% if loop.index0 % 2 == 0 %}
												
												<article id="post-548" class="post clearfix post-list-type-1 post-548 type-post status-publish format-standard has-post-thumbnail hentry category-all category-ideas tag-cleaning-earth tag-eco-battle tag-volunteerism" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
														<div class="fw-post-image fw-block-image-parent fw-block-image-left   fw-overlay-1">
																<a href="/blog/post/{{post.slug}}" class="post-thumbnail fw-block-image-child fw-ratio-1 fw-ratio-container">
																		<noscript><img itemprop="image" src="{{post.image.secure_url}}" alt="blog-post-feature-1" data-maxdpr="1.7" class="attachment-post-thumbnail lazyload" />
																		</noscript><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-sizes="auto" data-srcset="{{ post.image.secure_url }} 1920w" alt="blog-post-feature-1" data-maxdpr="1.7" class="attachment-post-thumbnail lazyload" />
																		<div class="fw-block-image-overlay">
																				<div class="fw-itable">
																						<div class="fw-icell">
																								<i class="fw-icon-link"></i>
																						</div>
																				</div>
																		</div>
																</a>
														</div>

														<header class="entry-header">
																<div class="wrap-entry-meta">
																		<span class="entry-date">
																			Published 
																			<a rel="bookmark" href="/blog/post/{{post.slug}}">
																				<time itemprop="datePublished" datetime="{{post.publishedDate}}">{{post._.publishedDate.format("MMMM Do, YYYY")}}</time>
																			</a>
																		</span>
																		<span class="separator">&nbsp;|&nbsp;</span>
																		<span itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author" class="author"> By <a href="#" title="Posts by admin" rel="author">{{ post.author.name.first  ~' '~  post.author.name.last }}</a></span>
																		<span class="separator">&nbsp;|&nbsp;</span>
																		<span class="cat-links"> In {% for cat in post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.last == false %}, {% endif %}{% endfor %}</span>
																</div>
																<h2 class="entry-title" itemprop="headline">
																		<a href="/blog/post/{{post.slug}}">{{ post.title }}</a>
																</h2>
														</header>

														<div class="entry-content clearfix" itemprop="text">
																<p>{{post.content.brief | striptags }}</p>
																<footer class="entry-meta clearfix">
																		<a href="/blog/post/{{post.slug}}" class="fw-btn-post-read-more-blog fw-btn fw-btn-md fw-btn-1" style="">
																				<span>Read More</span>
																		</a>
																</footer>
														</div>
												</article>
												
												
												{% else %}
												
												<article id="post-570" class="post clearfix post-list-type-1 post-570 type-post status-publish format-standard has-post-thumbnail hentry category-all category-children tag-cancer tag-children tag-hunger-games" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
														<div class="fw-post-image fw-block-image-parent fw-block-image-right   fw-overlay-1">
																<a href="/blog/post/{{post.slug}}" class="post-thumbnail fw-block-image-child fw-ratio-1 fw-ratio-container">
																		<noscript><img itemprop="image" src="{{post.image.secure_url}}" alt="blog-post-feature-2" data-maxdpr="1.7" class="attachment-post-thumbnail lazyload" />
																		</noscript><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-sizes="auto" data-srcset="{{ post.image.secure_url}} 1920w" alt="blog-post-feature-2" data-maxdpr="1.7" class="attachment-post-thumbnail lazyload" />
																		<div class="fw-block-image-overlay">
																				<div class="fw-itable">
																						<div class="fw-icell">
																								<i class="fw-icon-link"></i>
																						</div>
																				</div>
																		</div>
																</a>
														</div>

														<header class="entry-header">
																<div class="wrap-entry-meta">
																		<span class="entry-date">
																			Published 
																			<a rel="bookmark" href="/blog/post/{{post.slug}}">
																				<time itemprop="datePublished" datetime="{{post.publishedDate}}">{{post._.publishedDate.format('MMMM Do, YYYY')}}</time>
																			</a>
																		</span>
																		<span class="separator">&nbsp;|&nbsp;</span>
																		<span itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author" class="author"> By <a href="#" title="" rel="author">{{ post.author.name.first ~' '~ post.author.name.last }}</a></span>
																		<span class="separator">&nbsp;|&nbsp;</span>
																		<span class="cat-links"> In {% for cat in post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.last == false %}, {% endif %}{% endfor %}</span>
																</div>
																<h2 class="entry-title" itemprop="headline">
																	<a href="/blog/post/{{post.slug}}">{{post.title}}</a>
																</h2>
														</header>

														<div class="entry-content clearfix" itemprop="text">
																<p>{{post.content.brief | striptags }}</p>
																<footer class="entry-meta clearfix">
																		<a href="/blog/post/{{post.slug}}" class="fw-btn-post-read-more-blog fw-btn fw-btn-md fw-btn-1" style="">
																				<span>Read More</span>
																		</a>
																</footer>
														</div>
												</article>
												
												{% endif %}
											{% endfor %}
												
										</div>
										<!-- /.postlist-->
										{% if data.posts.totalPages > 1 %}
										<div class="col-xs-12 text-center">
											<ul class="pagination">
												{% if data.posts.previous %}
													<li>
														<a href="?page={{ data.posts.previous }}">
															<span class="glyphicon glyphicon-chevron-left"></span>
														</a>
													</li>
												{% else %}
													<li class="disabled">
														<a href="?page=1">
															<span class="glyphicon glyphicon-chevron-left"></span>
														</a>
													</li>
																																				{% endif %}
													{% for p in data.posts.pages %}
														<li>
															<a {% if data.posts.currentPage == p %}style="background-color: #7A1CDC; border-color: #7A1CDC; color: #fff"{% endif %} href="?page={% if p == "..." %}{% if i %}{{ data.posts.totalPages }}{% else %}1{% endif %}{% else %}{{ p }}{% endif %}">{{ p }}</a>
														</li>
													{% endfor %}
												{% if data.posts.next %}
													<li>
														<a href="?page={{ data.posts.next }}">
															<span class="glyphicon glyphicon-chevron-right"></span>
														</a>
													</li>
												{% else %}
													<li class="disabled">
														<a href="?page={{ data.posts.totalPages }}">
															<span class="glyphicon glyphicon-chevron-right"></span>
														</a>
													</li>
												{% endif %}
											</ul>
										</div>
										{% endif %}
								</div>
						</div>
						<!-- /.content-area-->
						{% include '../mixins/blog-aside.twig' %}
				</div>
				<!-- /.row-->
		</div>
		<!-- /.container-->
</section>
{% endblock %}

{% block js %}
<script type='text/javascript'>$(function(){$('#cat').on('change',function(e){window.location.href = $(this).val();});});</script>
{% endblock %}