{% extends "../layouts/default.twig" %}

{% block css %}
<link rel='stylesheet' href="/css/contact.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="fw-page-builder-content">
		<section id="section-5731eea962b99" class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-b22d88a4a9a0f535053b955b1436601f" class="fw-col-sm-12 tf-sh-b22d88a4a9a0f535053b955b1436601f">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
										</div>
								</div>
						</div>
						
						{% import "../mixins/flash-messages.twig" as FlashMessages %}
						{% if enquirySubmitted %}
						<div class="fw-row">
								<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-12 fw-col-md-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element fw-col-no-padding" data-animation-type="fadeInLeft" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
											{{ FlashMessages.renderMessage("Thank you for contacting us. We'll get back to you shortly!",'success') }}
										</div>
								</div>
						</div>
						{% endif %}

						<div class="fw-row">
								<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-12 fw-col-md-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element fw-col-no-padding" data-animation-type="fadeInLeft" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-heading fw-heading-left  tf-sh-c81d7edeb2cd77f9ab924d7e69751a67">
														<h1 class="fw-special-title">CONTACT <span style="font-weight:100;">US</span></h1>


												</div>
												<div class="fw-text-box tf-sh-b64347b6b97d76f2928def54d7aab4be ">
														<div class="fw-text-inner">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar eleentum vestibulum.</p>
														</div>
												</div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-b22d88a4a9a0f535053b955b1436601f" class="fw-col-sm-12 tf-sh-b22d88a4a9a0f535053b955b1436601f">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:75px;"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea964b70" class=" fw-main-row-custom fw-section-no-padding  auto  " style="   ">
				<div class="fw-container-fluid">
						<div class="fw-row">
								<div id="column-177210be8b6de76dbd86365dbeb70c2e" class="fw-col-sm-12 tf-sh-177210be8b6de76dbd86365dbeb70c2e  fw-col-no-padding">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="wrap-map fw-map  tf-sh-87c262c2bfdccb6c6e4adc21c3ca0089" data-locations="[{&quot;title&quot;:&quot;Frida Kahlo Community Organization&quot;,&quot;url&quot;:&quot;&quot;,&quot;thumb&quot;:false,&quot;coordinates&quot;:{&quot;lat&quot;:41.8580439,&quot;lng&quot;:-87.6580779},&quot;description&quot;:&quot;Melius scripta an vis, ea quando eligendi nec, mea aperiri definitiones ei. Nec ferri accumsan ponderum id, impetus iuvaret vulputate usu ei.&quot;}]" data-map-type="ROADMAP" data-map-height="500" data-unique-id="87c262c2bfdccb6c6e4adc21c3ca0089" data-location-advanced-styling="{&quot;title&quot;:{&quot;google_font&quot;:true,&quot;subset&quot;:&quot;latin-ext&quot;,&quot;variation&quot;:&quot;300&quot;,&quot;family&quot;:&quot;Lato&quot;,&quot;style&quot;:false,&quot;weight&quot;:false,&quot;size&quot;:&quot;14&quot;,&quot;line-height&quot;:&quot;26&quot;,&quot;letter-spacing&quot;:&quot;0&quot;,&quot;color-palette&quot;:&quot;&quot;,&quot;is_saved&quot;:false},&quot;description&quot;:{&quot;google_font&quot;:true,&quot;subset&quot;:&quot;latin-ext&quot;,&quot;variation&quot;:&quot;regular&quot;,&quot;family&quot;:&quot;Lato&quot;,&quot;style&quot;:false,&quot;weight&quot;:false,&quot;size&quot;:&quot;15&quot;,&quot;line-height&quot;:&quot;24&quot;,&quot;letter-spacing&quot;:&quot;0&quot;,&quot;color-palette&quot;:&quot;&quot;,&quot;is_saved&quot;:false}}" data-map-pin="{&quot;url&quot;:&quot;\/\/geekmindz.com\/freeda\/wp-content\/uploads\/2016\/04\/map_frida-1.png&quot;}" data-map-zoom="15" data-map-style="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#ff1a00&quot;},{&quot;invert_lightness&quot;:true},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:33},{&quot;gamma&quot;:0.5}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#2D333C&quot;}]}]" data-animation-group="{&quot;selected&quot;:&quot;no&quot;,&quot;yes&quot;:{&quot;animation&quot;:{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;delay&quot;:&quot;200&quot;}}}" data-responsive="{&quot;desktop_display&quot;:{&quot;selected&quot;:&quot;yes&quot;},&quot;tablet_landscape_display&quot;:{&quot;selected&quot;:&quot;yes&quot;},&quot;tablet_display&quot;:{&quot;selected&quot;:&quot;yes&quot;},&quot;smartphone_display&quot;:{&quot;selected&quot;:&quot;yes&quot;}}" data-class="">
														<div class="fw-map-canvas map"></div>
												</div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea96879d" class=" fw-main-row-custom fw-section-no-padding  auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-90aada5eac0668f754f0f9c8e6286c2c" class="fw-col-sm-12 tf-sh-90aada5eac0668f754f0f9c8e6286c2c">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space space-sm  clearfix"></div>
												<div class="fw-heading fw-heading-center  fw-animated-element tf-sh-17d893b42ff3216de4fa588d3034a44a" data-animation-type="fadeInUp" data-animation-delay="200">
														<h2 class="fw-special-title">Frida Kahlo Community Organization</h2>


												</div>
												<div class="fw-text-box tf-sh-b198886d1a7af812a1d7ea9b231e6386  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="200">
														<div class="fw-text-inner">
																<p style="text-align: center;">1244 W 18th St, Chicago, IL 60608
																		<br />(312) 421-7599
																		<br />contact@fridacommunity.org</p>
														</div>
												</div>
												<div class="fw-divider-space space-sm  clearfix"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea96a27c" class=" fw-main-row-custom fw-section-no-padding  fw_theme_bg_color_1 auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-525cb2445bb6076c8b37d02615f21374" class="fw-col-sm-12 tf-sh-525cb2445bb6076c8b37d02615f21374  fw-animated-element" data-animation-type="fadeIn" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-contact-form tf-sh-fa598166380669fb01e4ab7c1b6ba20e ">
														<div class="fw-row wrap-forms wrap-contact-forms">
																<form data-fw-form-id="fw_form" class="fw_form_fw_form" method="post" data-fw-ext-forms-type="contact-forms">
																		<input type="hidden" name="action" value="contact">
																		<div class="fw-row">
																				<div class="header title">
																						<h2 class="fw-contact-form-title">CONTACT FORM</h2>
																				</div>
																		</div>
																		<div class="fw-row">
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>Your Name</label>
																								<input type="text" name="name.full" value="{{ formData['name.full'] | default('') }}" placeholder="Your name here..." id="id-1" required="required">
																						</div>
																				</div>
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>Your Email</label>
																								<input type="email" name="email" value="{{ formData.email | default('') }}" placeholder="Your email address here..." id="id-2" required="required">
																						</div>
																				</div>
																		</div>
																		<div class="fw-row">
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>How Did You Hear From Us?</label>
																								<select name="referralSource" class="selectized" required>
																									<option value=""></option>
																									{% for opt in refTypes %}
																									<option value="{{opt.value}}">{{opt.label}}</option>
																									{% endfor %}
																								</select>
																						</div>
																				</div>
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>Who Are You? <!-- Who, who, who, who? I really wanna know--></label>
																								<select name="personType" class="selectized" required>
																									<option value=""></option>
																									{% for opt in perTypes %}
																									<option value="{{opt.value}}">{{opt.label}}</option>
																									{% endfor %}
																								</select>
																						</div>
																				</div>
																		</div>
																		<div class="fw-row">
																				<div class="fw-col-xs-12 form-builder-item">
																						<div class="field-textarea">
																								<label>Your Message</label>
																								<textarea name="message" placeholder="Your message here..." id="id-3" required="required"></textarea>
																						</div>
																				</div>
																		</div>
																		<div class="fw-row"></div>
																		<div class="fw-row">
																				<div class="fw-col-sm-12 field-submit text-right">
																						<button type="submit" class="fw-btn  fw-btn-md fw-btn-1" style="">
																								<span>
							Send      									</span>
																						</button>
																				</div>
																		</div>
																</form>
														</div>
												</div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea9818a2" class=" fw-main-row-custom fw-section-no-padding  auto  fw-mobile-hide-element " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-b22d88a4a9a0f535053b955b1436601f" class="fw-col-sm-12 tf-sh-b22d88a4a9a0f535053b955b1436601f">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:135px;"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.15&sensor=false&libraries=places&language=en&ver=3.15'></script>
<script type='text/javascript' src='/js/underscore.min.js'></script>
<script type='text/javascript' src='/js/contact.js'></script>
<script>
$(function(){
	$('.selectized').selectize({
		create: true,
		sortField: 'text'
	});
});
</script>
{% endblock %}

<!--
	<div class="container">
		{% if enquirySubmitted %}
			<h3>Thanks for getting in touch.</h3>
		{% else %}
			<div class="row">
				<div class="col-sm-8 col-md-6">
					<form method="post">
						<input type="hidden" name="action" value="contact">
						{% set className = "" %}
						{% if validationErrors.name %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Name</span>
								<input type="text" name="name.full" value="{{ formData['name.full'] | default('') }}" class="form-control">
							</label>
						</div>
						{% set className = "" %}
						{% if validationErrors.email %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Email</span>
								<input type="email" name="email" value="{{ formData.email | default('') }}" class="form-control">
							</label>
						</div>
						<div class="form-group">
							<label>
								<span>Phone</span>
								<input type="text" name="phone" value="{{ formData.phone | default('') }}" placeholder="(optional)" class="form-control">
							</label>
						</div>
						{% set className = "" %}
						{% if validationErrors.enquiryType %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>What are you contacting us about?</span>
								<select name="enquiryType" class="form-control">
									<option value="">(select one)</option>
									{% for type in enquiryTypes %}
										{% set selected = "" %}
										{% if formData.enquiryType == type.value %}
											{% set selected = " selected" %}
										{% endif %}
										<option value="{{ type.value }}"{{ selected }}>{{ type.label }}</option>
									{% endfor %}
								</select>
						</div>
						{% set className = "" %}
						{% if validationErrors.message %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Message</span>
								<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">
									{{ formData.message }}
								</textarea>
							</label>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</form>
				</div>
			</div>
		{% endif %}
	</div>
-->