{% extends '../layouts/default.twig' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/get-involved.css" />
{% endblock %}

{% block content %}
<div class="fw-page-builder-content">
	<section id="section-5733a5a631b59" class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
		<div class="fw-container">
			<div class="fw-row">
				<div id="column-a6e7a6ac0d0d3ceb9b829e7a04971f1b" class="fw-col-sm-12 tf-sh-a6e7a6ac0d0d3ceb9b829e7a04971f1b">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element" data-animation-type="fadeInLeft" data-animation-delay="300">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-heading fw-heading-left  tf-sh-c81d7edeb2cd77f9ab924d7e69751a67">
							<h1 class="fw-special-title">GET <span style="font-weight:900;">INVOLVED</span></h1>


						</div>
					</div>
				</div>
				<div id="column-fea2fc208fb4cfdff7fb6ce0ce063333" class="fw-col-sm-4 tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333  fw-animated-element" data-animation-type="fadeInRight" data-animation-delay="500">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<a href="{{data.button.url}}" target="_self" class="fw-btn tf-sh-cd9d96a0089052d148ac18e330d8a2c1 fw-btn-full fw-btn-lg   fw-btn-2" style="">
							<span>{{data.button.text}}</span>
						</a>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-a6e7a6ac0d0d3ceb9b829e7a04971f1b" class="fw-col-sm-12 tf-sh-a6e7a6ac0d0d3ceb9b829e7a04971f1b">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-48589557ce8d9120e67e73df322e9fe3" class="fw-col-sm-6 tf-sh-48589557ce8d9120e67e73df322e9fe3  fw-animated-element" data-animation-type="fadeInLeft" data-animation-delay="700">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">


						<div class="fw-block-image-parent  fw-block-image-right" style="width: 585px; ">
							<span class="fw-block-image-child fw-ratio-5-3 fw-ratio-container">
							<noscript><img itemprop="image" src="{{data.section1.image.secure_url}}"  alt="donate-img-left" data-maxdpr="1.7" width="585" class="lazyload" /></noscript>
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-sizes="auto" data-srcset="{{data.section1.image.secure_url}} 1920w"   alt="donate-img-left" data-maxdpr="1.7" width="585" class="lazyload" />			</span>
						</div>


					</div>
				</div>
				
				<!-- section 1-->
				<div id="column-df59ac21f69579a6320da70d9ec17abd" class="fw-col-sm-6 tf-sh-df59ac21f69579a6320da70d9ec17abd  fw-animated-element" data-animation-type="fadeInRight" data-animation-delay="700">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:70px;"></div>
						<div class="fw-heading fw-heading-left  tf-sh-efe80411296e992d908b6dfbf98e16ae">
							<h1 class="fw-special-title">{{data.section1.title}}</h1>


						</div>
						<div class="fw-text-box tf-sh-b4bc5811ff5ea2ad81f395dc137ee75a ">
							<div class="fw-text-inner">
								<p>{{data.section1.description}}</p>
							</div>
						</div>
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:30px;"></div>
						<div class="text-left">
							<a href="{{data.section1.button.url}}" target="_self" class="fw-btn tf-sh-f3868c78f9cf1b54fbdb98546c56b564  fw-btn-sm   fw-btn-1" style="">
								<span>{{data.section1.button.text}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-a6e7a6ac0d0d3ceb9b829e7a04971f1b" class="fw-col-sm-12 tf-sh-a6e7a6ac0d0d3ceb9b829e7a04971f1b">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:80px;"></div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<section id="section-5733a5a639094" class=" fw-main-row-custom fw-section-no-padding  auto  " style="   ">
		<div class="fw-container-fluid">
			<div class="fw-row">
				<div id="column-4d4eefa1d6f6db769d27e1fc17d720a5" class="fw-col-sm-12 tf-sh-4d4eefa1d6f6db769d27e1fc17d720a5  fw-col-no-padding">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider tf-sh-dccc4d417d1bdc51cb17c0c7bd7614b4  fw-divider-align-center fw-divider-full-width fw-line-solid fw-divider-line  " style="width: auto; padding-top:0px; margin-bottom:0px; border-color:#ebebeb;"></div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<section id="section-5733a5a63a678" class=" fw-main-row-custom fw-section-no-padding  auto  " style="   ">
		<div class="fw-container">
			<div class="fw-row">
				<div id="column-a6e7a6ac0d0d3ceb9b829e7a04971f1b" class="fw-col-sm-12 tf-sh-a6e7a6ac0d0d3ceb9b829e7a04971f1b">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:40px;"></div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<!-- section 2-->
				<div id="column-2bc43b1a3c0736de198cf29435d4a0ee" class="fw-col-sm-6 tf-sh-2bc43b1a3c0736de198cf29435d4a0ee  fw-animated-element" data-animation-type="fadeInLeft" data-animation-delay="900">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:40px;"></div>
						<div class="fw-heading fw-heading-left  tf-sh-cc8e3072a2ee71b659a3a87899264f8b">
							<h1 class="fw-special-title">{{data.section2.title}}</h1>


						</div>
						<div class="fw-text-box tf-sh-e4ca6cacd94b58b3cbbb431bed30bb24 ">
							<div class="fw-text-inner">
								<p>{{data.section2.description}}</p>
							</div>
						</div>
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:30px;"></div>
						<div class="text-left">
							<a href="{{data.section2.button.url}}" target="_self" class="fw-btn tf-sh-64d6602c7b14b3fc63d2c5e3b22d661a  fw-btn-sm fw-btn-2" style="">
								<span>{{data.section2.button.text}}</span>
							</a>
						</div>
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:80px;"></div>
					</div>
				</div>
				<div id="column-484d038ebe5266a3e0590b40ecbc1bad" class="fw-col-sm-6 tf-sh-484d038ebe5266a3e0590b40ecbc1bad  fw-animated-element" data-animation-type="fadeInRight" data-animation-delay="900">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">


						<div class="fw-block-image-parent  fw-block-image-left" style="width: 585px; ">
							<span class="fw-block-image-child fw-ratio-4-3 fw-ratio-container">
							<noscript>
							<img itemprop="image" src="{{data.section2.image.secure_url}}"  alt="volunteer-img-right" data-maxdpr="1.7" width="585" class="lazyload" />
							</noscript>
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-sizes="auto" data-srcset="{{data.section2.image.secure_url}} 1920w"   alt="volunteer-img-right" data-maxdpr="1.7" width="585" class="lazyload" />			</span>
						</div>


					</div>
				</div>
			</div>

		</div>
	</section>
	<section id="section-5733a5a63e957" class=" fw-main-row-custom fw-section-no-padding  auto  fw-mobile-hide-element " style="   ">
		<div class="fw-container-fluid">
			<div class="fw-row">
				<div id="column-72e1ea55f35560c6e7925d40d2350bb7" class="fw-col-sm-12 tf-sh-72e1ea55f35560c6e7925d40d2350bb7  fw-col-no-padding">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider tf-sh-080fac6bf4e82a3620c862a5b95aa1a0  fw-divider-align-center fw-divider-full-width fw-line-solid fw-divider-line  " style="width: auto; padding-top:0px; margin-bottom:0px; border-color:#ebebeb;"></div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="section-5733a5a6442c1" class=" fw-main-row-custom fw-section-no-padding  auto  " style="background-color:#ebebeb;   ">
		<div class="fw-container">
			<div class="fw-row">
				<div id="column-a6e7a6ac0d0d3ceb9b829e7a04971f1b" class="fw-col-sm-12 tf-sh-a6e7a6ac0d0d3ceb9b829e7a04971f1b">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:100px;"></div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-8e17dc095ea11c488725e7c4a3f1f19d" class="fw-col-sm-12 tf-sh-8e17dc095ea11c488725e7c4a3f1f19d  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-heading fw-heading-left  tf-sh-385b75009408a4e94c27c540b818de5c">
							<h1 class="fw-special-title">OTHER WAYS <span style="font-weight:100;">TO</span> HELP</h1>


						</div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-4774143d5f0e60f965d4b09b2ca93546" class="fw-col-sm-12 fw-mobile-hide-element tf-sh-4774143d5f0e60f965d4b09b2ca93546">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:60px;"></div>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-8d69d4cdddfb375c3fefdac470ed6273" class="fw-col-sm-3 tf-sh-8d69d4cdddfb375c3fefdac470ed6273  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:45px;"></div>
						<div class="fw-heading fw-heading-center  tf-sh-6404cc7d061fd42fe610ae14bd4fb867">
							<h3 class="fw-special-title">LIKE US ON FACEBOOK</h3>


						</div>
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:5px;"></div>
						<div class="text-center">
							<a href="#" target="_self" class="fw-btn tf-sh-f24c62ff0dba05d066e12b3821072343     fw-btn-1" style="width:118px; height:48px; line-height:48px;">
								<span style="top:0;">
<i class="pull-left-icon fa fa-facebook-f" style="font-size:30px;"></i>    Like    		</span>
							</a>
						</div>
					</div>
				</div>
				<div id="column-746eb189f189c5d1046701d48e0c6969" class="fw-col-sm-3 tf-sh-746eb189f189c5d1046701d48e0c6969  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="500">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:45px;"></div>
						<div class="fw-heading fw-heading-center  tf-sh-64621b22e7d11321873e0ae908fd0c50">
							<h3 class="fw-special-title">FOLLOW US ON TWITTER</h3>


						</div>
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:5px;"></div>
						<div class="text-center">
							<a href="#" target="_self" class="fw-btn tf-sh-f805cc32affbec8023e1a3425962887e     fw-btn-1" style="width:118px; height:48px; line-height:48px;">
								<span style="top:0;">
<i class="pull-left-icon fa fa-twitter" style="font-size:30px;"></i>    Like    		</span>
							</a>
						</div>
					</div>
				</div>
				<div id="column-ec411c7a699b91b904cd051101231881" class="fw-col-sm-6 tf-sh-ec411c7a699b91b904cd051101231881  fw-animated-element" data-animation-type="fadeInRight" data-animation-delay="300">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-heading fw-heading-left  fw-heading-with-subtitle tf-sh-9376497fc20e38837595995afb07a6e1">
							<h3 class="fw-special-title">NEWSLETTER SIGN-UP</h3>


							<div class="fw-special-subtitle">Lorem ipsum dolor sit amet, ad mea mazim putant dis sentias. Dico primis cum et et verear aliquid. Corpora phaedrum posidonium te has, ne usu torquatos expetendis contentiones.</div>
						</div>
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:5px;"></div>
						<a href="#" target="_self" class="fw-btn tf-sh-9160fad1160dfde178e4407c681eef02 fw-btn-full fw-btn-lg   fw-btn-1" style="">
							<span>
Subscribe Now		</span>
						</a>
					</div>
				</div>
			</div>

			<div class="fw-row">
				<div id="column-a6e7a6ac0d0d3ceb9b829e7a04971f1b" class="fw-col-sm-12 tf-sh-a6e7a6ac0d0d3ceb9b829e7a04971f1b">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:130px;"></div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
{% endblock %}