{% extends "../layouts/default.twig" %}

{% block css %}
<link rel='stylesheet' href="/css/our-mission.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="fw-page-builder-content">
		<section id="section-573102e1bde54" class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-639daa52884e6827e8f06ab6fba98ccf" class="fw-col-sm-12 tf-sh-639daa52884e6827e8f06ab6fba98ccf">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element" data-animation-type="fadeInLeft" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-heading fw-heading-left  tf-sh-c81d7edeb2cd77f9ab924d7e69751a67">
														<h1 class="fw-special-title"><span style="font-weight:900;">IMMIGRATION</span></h1>


												</div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-613a9c2577b97532384da8022b7978fd" class="fw-col-sm-12 fw-col-md-12 tf-sh-613a9c2577b97532384da8022b7978fd">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>

												<div class="fw-block-image-parent  fw-animated-element " data-animation-type="fadeInUp" data-animation-delay="300" style="width: 100%; ">
														<span class="fw-block-image-child fw-ratio-3-2 fw-ratio-container">
														<noscript><img itemprop="image" src="{{immigration.image.secure_url}}"  alt="" data-maxdpr="1.7" class="lazyload" /></noscript>
														<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-sizes="auto" data-srcset="{{immigration.image.secure_url}} 1920w"   alt="" data-maxdpr="1.7" class="lazyload" /></span>
												</div>


												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
												<div class="fw-heading fw-heading-left  fw-animated-element tf-sh-23169aef79d706d0a2ba600066ffd974" data-animation-type="fadeInUp" data-animation-delay="300">
														<h2 class="fw-special-title">{{immigration.section1.title}}</h2>


												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:10px;"></div>
												<div class="fw-text-box tf-sh-bcb632d925a1d83577fcf7f979e94318  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
														<div class="fw-text-inner">
																{{immigration.section1.description}}
														</div>
												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
												<div class="fw-text-box tf-sh-89adc4a5624fab8e8e6d1ba69e35c833  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
														<div class="fw-text-inner">
																<p>"{{immigration.section1.stat}}"</p>
														</div>
												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
												<div class="fw-heading fw-heading-left  fw-animated-element tf-sh-e3dbf0db2069fd7da1e0a041c72e1391" data-animation-type="fadeInUp" data-animation-delay="300">
														<h2 class="fw-special-title">{{immigration.section2.title}}</h2>
												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:10px;"></div>
												<div class="fw-text-box tf-sh-4720bdcbaa799745b16905ea83bea94f  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
														<div class="fw-text-inner">
																{{immigration.section2.description}}
														</div>
												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-ead388ac815732b16a72c815894b0da6" class="fw-col-sm-12 fw-col-md-8 tf-sh-ead388ac815732b16a72c815894b0da6">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-video tf-sh-65fedb03ec13cf1f88bfd01577e0bbdc  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
														<div class="fw-wrap-boxed-media fw-wp-embed-shortcode">
																{{immigration.video}}
														</div>
												</div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-fc30cf6ed2fd3149ea94383976cb3db3" class="fw-col-sm-12 fw-col-md-8 tf-sh-fc30cf6ed2fd3149ea94383976cb3db3">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
												<div class="fw-heading fw-heading-left  fw-animated-element tf-sh-6ad4d88cf58aab4956d6c4b34c682369" data-animation-type="fadeInUp" data-animation-delay="300">
														<h2 class="fw-special-title">{{immigration.section3.title}}</h2>


												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:10px;"></div>
												<div class="fw-text-box tf-sh-75bdd4f9f269c8a781a30457f90b85ac  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
														<div class="fw-text-inner">
																<p>{{immigration.section3.description}}</p>
														</div>
												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-c031f67a6d05e411ef84764f7283bb5e" class="fw-col-sm-12 fw-col-md-12 tf-sh-c031f67a6d05e411ef84764f7283bb5e  fw-column-height-custom fw-animated-element  fw_theme_border_only_color_4" data-animation-type="fadeInUp" data-animation-delay="300" style="border-width: 2px; border-style: solid; height: 230px;">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-text-box tf-sh-67e2e7b209be5ea251bd82f2dcc35072 " style="float: left;text-align: center;width:100%;">
														<div class="fw-text-inner" style="float:left;width:100%">
																<div class="fw-col-sm-3">
																	{{immigration.stats.block1.title}}
																</div>
																<div class="fw-col-sm-3">
																	{{immigration.stats.block2.title}}
																</div>
																<div class="fw-col-sm-3">
																	{{immigration.stats.block3.title}}
																</div>
																<div class="fw-col-sm-3">
																	{{immigration.stats.block4.title}}
																</div>
														</div>
												</div>
												<div class="fw-text-box tf-sh-30677bf8c566fe595f9b1523feec9dca " style="float: left;text-align: center;width:100%;">
														<div class="fw-text-inner" style="float:left;width:100%">
																<div class="fw-col-sm-3">
																	{{immigration.stats.block1.value}}
																</div>
																<div class="fw-col-sm-3">
																	{{immigration.stats.block2.value}}
																</div>
																<div class="fw-col-sm-3">
																	{{immigration.stats.block3.value}}
																</div>
																<div class="fw-col-sm-3">
																	{{immigration.stats.block4.value}}
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-7841302acebabb9e81681dae207cc67a" class="fw-col-sm-12 fw-col-md-12 tf-sh-7841302acebabb9e81681dae207cc67a">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:70px;"></div>
												<div class="fw-heading fw-heading-left  fw-animated-element tf-sh-6ad4d88cf58aab4956d6c4b34c682369" data-animation-type="fadeInUp" data-animation-delay="300">
														<h2 class="fw-special-title">{{immigration.section4.title}}</h2>
												</div>
												<div class="fw-text-box tf-sh-da331932e07e1b3f0977e414c6cae702  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="300">
														<div class="fw-text-inner">
																{{immigration.section4.description}}
														</div>
												</div>
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:80px;"></div>
												<div class="text-center">
														<a href="{{immigration.button.url}}" target="_self" class="fw-btn tf-sh-24ae4302d32f939fb2024b5c9f308750     fw-animated-element fw-btn-1" data-animation-type="fadeInUp" data-animation-delay="300" style="width:430px; height:75px; line-height:75px;">
																<span style="top:0;">{{immigration.button.text}}</span>
														</a>
												</div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-639daa52884e6827e8f06ab6fba98ccf" class="fw-col-sm-12 tf-sh-639daa52884e6827e8f06ab6fba98ccf">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:160px;"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
</div>
{% endblock %}
