{% extends '../layouts/email-plain.twig' %}

{% block content %}
	<h1>Hi Administrator</h1>,
	<p class="text-larger">An enquiry was just submitted to {{ brand }}:</p>
	{% if enquiry.name.full or enquiry.email %}
		<p class="text-larger">From
			{% if enquiry.name.full %}
				<strong>{{ enquiry.name.full }}, {{enquiry.personType}}</strong>
			{% endif %}
			{% if enquiry.name.full and enquiry.email %}
				{% if enquiry.email %}(<a href="mailto:{{ enquiry.email }}">{{ enquiry.email }}</a>){% endif %}
			{% endif %}
		</p>
	{% endif %}
	{% if enquiry.referralSource %}
		<p class="text-larger">Referral Source: {{ enquiry.referralSource }}</p>
	{% endif %}
	{% if enquiry.message %}
		{{ enquiry.message.html | striptags }}
	{% endif %}
	<p class="text-muted">Sent {{ enquiry._.createdAt.format() }}</p>
	<p><a href="{{base_url}}/keystone/enquiries/{{ enquiry.id }}">Open In Keystone</a></p>
{% endblock %}
